* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
}

.container {
    width: 1320px;
    margin: 0 auto;
}
.caption{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.readMore-link{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
}
.title{
    font-family: "Open Sans", serif;
    font-size: 64px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
}

/* navbar css starts here */
#navbar {
    padding: 35px 0;
    position: absolute;
    width: 100%;
    top: 0;
}

#navbar .navbar-wrapper {
    display: flex;
    align-items: center;
}

#navbar .logo {
    width: 20%;
}

#navbar .navItems {
    width: 80%;
}

#navbar .navItems ul {
    display: flex;
    justify-content: flex-end;
}

#navbar .navItems ul li a {
    font-family: "Open Sans", serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin: 0 30px;
    transition: all linear 0.3s;
}
#navbar .navItems ul li:last-child a{
    margin-right: 0px;
}
#navbar .navItems ul li a:hover{
    color: red;
}
/* navbar css ends here */
/* banner css starts here */
#banner{
    background: url(/images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 462px 0;
}
#banner .banner-details{
    width: 98%;
}
#banner .banner-details p{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFC178;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 30px;
}
#banner .banner-details h1{
    font-family: "Open Sans", serif;
    font-size: 96px;
    font-weight: 700;
    color: white;
    line-height: 100px;
}
#banner .banner-details h1 span{
    text-transform: capitalize;
    font-size: 88px;
    font-weight: 400;
    display: inline-block;
}
/* banner css ends here */
/* about css starts here */
#about{
    padding-top: 285px;
    padding-bottom: 147px;
    background: black;
    color: white;
}
#about .about-wrapper{
    display: flex;
    justify-content: space-between;
}
#about .about-wrapper .about-caption{
    /* font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px; */
    margin-bottom: 13px;
}
#about .about-wrapper .about-right{
    margin-top: 40px;
    /* padding-top: 40px; */
    /* 👆 আমরা কি এখানে margin-top এর জায়গায় padding-top ব্যবহার করব ? */
}
#about .about-wrapper h2{
    /* font-family: "Open Sans", serif;
    font-size: 64px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase; */
    width: 496px;
    margin-bottom: 13px;
}
#about .about-wrapper .about-description{
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    line-height: 32px;
    width: 587px;
    margin-bottom: 66px;
}
/* #about .about-wrapper a{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
} */

/* about css ends here */
/* bromo css starts here */
#bromo{
    padding: 148px 0;
    background: black;
}
#bromo .bromo-wrapper{
    background: url('../images/Bromo.jpg');
    padding-top: 559px;
    padding-bottom: 33px;
}
#bromo .bromo-details{
    width: 932px;
    margin: 0 auto;
    text-align: center;
}
#bromo .bromo-details .bromo-caption{
    /* font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px; */
    margin-bottom: 13px;
}
#bromo .bromo-details .bromo-caption{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px;
}
#bromo .bromo-details h2{
    margin-bottom: 14px;
}
#bromo .bromo-details .bromo-description{
    font-family: "Open Sans", serif;
    font-size: 15px;
    line-height: 32px;
    color: #FFF;
    text-transform: uppercase;
    width: 893px;
    margin-bottom: 26px;
}
/* bromo css ends here */
/* culture css starts here */
#culture{
    padding-top: 147px;
    padding-bottom: 199px;
    background-color: black;
}
#culture .culture-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#culture .culture-wrapper .culture-caption{
    margin-bottom: 19px;
}
#culture .culture-wrapper h2{
    margin-bottom: 19px;
    width: 655px;
}
#culture .culture-wrapper .culture-description{
    font-family: "Open Sans", serif;
    font-size: 18px;
    line-height: 32px;
    color: white;
    text-transform: uppercase;
    width: 655px;
    margin-bottom: 47px;
}
/* culture css ends here */
/* footer css starts here */
footer{
    padding-top: 100px;
    padding-bottom: 30px;
    background: black;
}
footer .footer-top{
    display: flex;
    align-items: center;
}
footer .footer-logo{
    width: 50%;
}
footer .footer-btn-wrapper{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
}
footer .btn-caption{
    font-family: "Open Sans", serif;
    font-size: 22px;
    letter-spacing: -0.3px;
    color: white;
    text-transform: capitalize;
}
footer button{
    padding: 20px 67px;
    font-size: 17px;
    font-weight: bold;
    background: #FFA343;
    border: none;
    border-radius: 10px;
}
footer .footer-details{
    width: 423px;
    margin-top: 27px;
}
footer .footer-title{
    font-family: "Open Sans", serif;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.3px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 36px;
}
footer .footer-terms{
    font-family: "Open Sans", serif;
    font-size: 15px;
    letter-spacing: -0.2px;
    color: #fff;
    margin-bottom: 48px;
}
footer .social-icons .fa-twitter{
    margin: 0 29px;
}
footer .footer-bottom{
    display: flex;
    gap: 275px;
    margin-top: 73px;
}
footer .info{
    display: flex;
}
footer .info ul:nth-child(2){
    margin-left: 85px ;
    margin-right: 138px ;
}
footer .info ul li{
    margin-bottom: 20px;
}
footer .info ul li:last-child{
    margin-bottom: 0px;
}
footer .info ul li a{
    font-family: "Open Sans", serif;
    font-size: 18px;
    letter-spacing: -0.2px;
    color:#fff
}
footer .info ul li:first-child a{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.23px;
    color:#FFD1A0
}
footer .copyright p{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: #7F7F7F;
    margin-top: 154px;
    border: none;
}
/* footer css ends here */