* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
}

.container {
    width: 1320px;
    margin: 0 auto;
}
.caption{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 13px;
}
.readMore-link{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
}
.title{
    font-family: "Open Sans", serif;
    font-size: 64px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
}

/* navbar css starts here */
#navbar {
    padding: 35px 0;
    position: absolute;
    width: 100%;
    top: 0;
}

#navbar .navbar-wrapper {
    display: flex;
    align-items: center;
}

#navbar .logo {
    width: 20%;
}

#navbar .navItems {
    width: 80%;
}

#navbar .navItems ul {
    display: flex;
    justify-content: flex-end;
}

#navbar .navItems ul li a {
    font-family: "Open Sans", serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin: 0 30px;
    transition: all linear 0.3s;
}
#navbar .navItems ul li:last-child a{
    margin-right: 0px;
}
#navbar .navItems ul li a:hover{
    color: red;
}
/* navbar css ends here */
/* banner css starts here */
#banner{
    background: url(/images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 462px 0;
}
#banner .banner-details{
    width: 98%;
}
#banner .banner-details p{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFC178;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 30px;
}
#banner .banner-details h1{
    font-family: "Open Sans", serif;
    font-size: 96px;
    font-weight: 700;
    color: white;
    line-height: 100px;
}
#banner .banner-details h1 span{
    text-transform: capitalize;
    font-size: 88px;
    font-weight: 400;
    display: inline-block;
}
/* banner css ends here */
/* about css starts here */
#about{
    padding-top: 285px;
    padding-bottom: 295px;
    background: black;
    color: white;
}
#about .about-wrapper{
    display: flex;
    justify-content: space-between;
}
/* #about .about-wrapper .about-caption{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 13px;
} */
#about .about-wrapper .about-right{
    margin-top: 40px;
    /* padding-top: 40px; */
    /* 👆 আমরা কি এখানে margin-top এর জায়গায় padding-top ব্যবহার করব ? */
}
#about .about-wrapper h2{
    /* font-family: "Open Sans", serif;
    font-size: 64px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase; */
    width: 496px;
    margin-bottom: 13px;
}
#about .about-wrapper .about-description{
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    line-height: 32px;
    width: 587px;
    margin-bottom: 66px;
}
/* #about .about-wrapper a{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
} */

/* about css ends here */
/* bromo css starts here */
#bromo{
    padding-bottom: 295px;
    background: black;
}
#bromo .bromo-wrapper{
    background: url('../images/Bromo.jpg');
    padding-top: 559px;
    padding-bottom: 33px;
}
#bromo .bromo-details{
    width: 932px;
    margin: 0 auto;
    text-align: center;
}
/* #bromo .bromo-details .bromo-caption{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px;
} */
#bromo .bromo-details .bromo-caption{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px;
}
#bromo .bromo-details h2{
    margin-bottom: 14px;
}
#bromo .bromo-details .bromo-description{
    font-family: "Open Sans", serif;
    font-size: 15px;
    line-height: 32px;
    color: #FFF;
    text-transform: uppercase;
    width: 893px;
    margin-bottom: 26px;
}
/* bromo css ends here */
/* culture css starts here */
/* culture css ends here */
/* footer css starts here */
/* footer css ends here */